li {
background-color: red;
display: inline;
padding: 0px 10px 0px 10px;
font-family: fantasy;
}


.color-info {
 border: 3px solid black;
 margin: 20px 0px 0px 0px
}


#about_blue {
  background: #6495ED;
}

#about_blue ul li {
  color: blue;
}

#about_yellow {
  background-color: #FFEBCD;
}

#about_yellow ul li {
  color: orange;
}

.important {
  font-weight: bold;
}

header {
     text-align: center;
     color: white;
   }
   a {
     color: white;

   li {
     display: inline;
     padding: 0px 10px 0px 10px;
   }
   article {
     max-width: 500px;
     padding: 20px;
     margin: 0 auto;
   }
   @media (max-width: 500px) {
     h1 {
       font-size: 36px;
       padding: 5px;
     }
     li {
       padding: 5px;
       display: block;
     }
   }
